{% extends "@Contao/content_element/code.html.twig" %}

{% block wrapper %}
    <!-- Code Section 4 reveal-->
    <section>
        {{ parent() }}
    </section>
    <!-- Code Section 4 reveal Ende -->
{% endblock %}
