{% extends "@Contao/content_element/headline.html.twig" %}

{% block wrapper %}
    <!-- Headline Section 4 reveal-->
    <section>
        {{ parent() }}
    </section>
    <!-- Headline Section 4 reveal Ende -->
{% endblock %}