{% extends "@Contao/content_element/image.html.twig" %}

{% block wrapper %}
    <!-- Image Section 4 reveal-->
    <section>
        {{ parent() }}
    </section>
    <!-- Image Section 4 reveal Ende -->
{% endblock %}