{% extends "@Contao/content_element/player.html.twig" %}

{% block wrapper %}
    <!-- Player Section 4 reveal-->
    <section>
        {{ parent() }}
    </section>
    <!-- Player Section 4 reveal Ende -->
{% endblock %}