.reveal h1 {
    font-size:3.0em;
}
.reveal h2 {
    font-size:2.0em;
    text-shadow: var(--r-heading1-text-shadow);
}
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform:none;
}
.reveal .slides > section.present,
.reveal .slides > section > section.present {
    padding-top:0;
}

/* wegen Footer etwas höher */
.reveal .controls {
    bottom: 3em;
}
/* Footer etwas groesser */
.reveal #title-footer {
    height: 2.5vh;
}
/* Background highlighter */
.hljs {
    background-color:#000;
}

/* code only verkleinern */
.reveal code {
    font-size:.8em;
}

/* Kein Rahmen, Kein Hintergrund für Titelgrafik */
img.noborder {
    border: 0 hidden #000 !important;
    box-shadow: none !important;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
}

/* Tabellenspalten weniger Abstand */
.reveal table th,
.reveal table td {
    padding:.2em .3em;
}

.reveal-viewport {
  background-image: url(myAvatar.png);
  background-size: 4%;
  background-repeat: no-repeat;
  background-position: 99% 2%;
}

.slide-menu-button {
    bottom: calc(var(--r-controls-spacing) - 0.2em) !important;
}
.slide-menu-button .slide-menu-icon,
.toolbar-panel-button .slide-menu-icon {
    color: var(--r-link-color);
}

.slide-menu-toolbar .toolbar-panel-button {
    display: none !important;
}
.slide-menu-toolbar .toolbar-panel-button#close {
    display: table-cell !important;
}

/* Menu CSS Fix: i to span and remove fas and far*/

.slide-menu-wrapper .slide-menu-item span.slide-menu-marker,
.slide-menu-wrapper .slide-menu-item-vertical span.slide-menu-marker,
.slide-menu-wrapper .slide-menu-item svg.svg-inline--fa,
.slide-menu-wrapper .slide-menu-item-vertical svg.svg-inline--fa {
    padding-right: 12px;
    display: none;
    flex-shrink: 0;
}

.slide-menu-wrapper .slide-menu-item.past span.past,
.slide-menu-wrapper .slide-menu-item-vertical.past span.past,
.slide-menu-wrapper .slide-menu-item.active span.active,
.slide-menu-wrapper .slide-menu-item-vertical.active span.active,
.slide-menu-wrapper .slide-menu-item.future span.future,
.slide-menu-wrapper .slide-menu-item-vertical.future span.future,
.slide-menu-wrapper .slide-menu-item.past svg.svg-inline--fa.past,
.slide-menu-wrapper .slide-menu-item-vertical.past svg.svg-inline--fa.past,
.slide-menu-wrapper .slide-menu-item.active svg.svg-inline--fa.active,
.slide-menu-wrapper .slide-menu-item-vertical.active svg.svg-inline--fa.active,
.slide-menu-wrapper .slide-menu-item.future svg.svg-inline--fa.future,
.slide-menu-wrapper .slide-menu-item-vertical.future svg.svg-inline--fa.future {
    display: inline-block;
}

.slide-menu-wrapper .slide-menu-item.past span.past,
.slide-menu-wrapper .slide-menu-item-vertical.past span.past,
.slide-menu-wrapper .slide-menu-item.future span.future,
.slide-menu-wrapper .slide-menu-item-vertical.future span.future,
.slide-menu-wrapper .slide-menu-item.past svg.svg-inline--fa.past,
.slide-menu-wrapper .slide-menu-item-vertical.past svg.svg-inline--fa.past,
.slide-menu-wrapper .slide-menu-item.future svg.svg-inline--fa.future,
.slide-menu-wrapper .slide-menu-item-vertical.future svg.svg-inline--fa.future {
    opacity: 0.4;
}

.slide-menu-wrapper .slide-menu-item.active span.active,
.slide-menu-wrapper .slide-menu-item-vertical.active span.active,
.slide-menu-wrapper .slide-menu-item.active svg.svg-inline--fa.active,
.slide-menu-wrapper .slide-menu-item-vertical.active svg.svg-inline--fa.active {
    opacity: 0.8;
}
